.message{

  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes hide {
  0% {
      opacity: 1;
      height: 100%;
      line-height: 100%;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
}
  100% {
      opacity: 0;
      height: 0px;
      line-height: 0px;
  }
}

body, html {
  height: 100vh;
  margin: 0;
}

#formMess {
  height: 10%;
}

#bodyMess {
  height: 90%;
}





