<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Flack</title>
  </head>
  <body>
    <div class="container-fluid full-screen-container">
      <div class="row full-screen-container">
          <div class="col-md-3 general" style="background-color: cadetblue;">
            <h4 style="margin-top:20px;">Channel list <i style="float:right"></i></h4>
          <hr>
              <ul class="list-group" id="Channels">
                  <li class="list-group-item"><a href="#">general</a></li>
                {% for channel in channels %}
                  <li class="list-group-item"><a href="#">{{channel}}</a></li>
                {% endfor %}
              </ul>
              <hr>
              <ul class="list-group" id="onlineUsers">
              </ul>
              <form id="CreateChannel" style="position: absolute; bottom: 5px; left: 5px; right: 5px;">
              <div class="form-row">
              <div class="col">
                  <input id="Channel" name="channel" type="text" class="form-control" placeholder="#channel">
              </div>
              <button id="submit"type="submit" class="btn btn-primary">Create</button>
              </div>
          </form>
          </div>
          <div class="col-md-9 messages ">
          <h4 id="channelName" style="margin-top:20px">Channel name <i style="float:right"></i></h4>
          <hr>
            <div class="row messages">
              <div class="col-md-9 ml-auto messages1 " id="Messages" style="background-color: blueviolet;">
                <form id="sendMessage" style="position: absolute; bottom: 5px; left: 5px; right: 5px;">
                  <div class="form-row">
                  <div class="col">
                      <input type="text" id="Message" class="form-control" placeholder="Message">
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                  </div>
              </form>
                <div id="SingleMessage" class="list-group" >
                </div> 
              </div>
              <div class="col-md-3 ml-auto users" >
                <h4 style="margin-top:20px">userlist<i style="float:right"></i></h4>
                <hr>
                <ul id="userList">
                </ul>
              </div>
            </div>
          </div>
          
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </html>